body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    */
    /*background: color image*/
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#caixa {
    border: 2px solid rgb(0, 195, 255);
    width: 360px;
    margin: auto;     
}

#profile {
    text-align: center;
}

#profile img {
    width: 112px;
    
}